
@font-face {
    font-family:"Crash";
    src:url("CRASH___.woff2") format("woff2"),url("CRASH___.woff") format("woff"),url("CRASH___.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        