* {
    box-sizing: border-box;
    text-align: center;
  }
  
body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
    border: 5px solid black;
  }

ul#navlist li { display: inline; }

ul#navlist li a{
    float: left;
    width: 5em;
    color:black;
    background-color: white;
    padding: 0.2em 1em;
    text-decoration: none;
    border-right: 1px solid black;
}

ul#navlist li a:hover{
    background-color: #369;
    color: #fff;
}
}
#full {
    width: 100%;
    overflow: ;
    clear: both;
    color: #fff;
    background: #394549;
    clear: both;
  }