body { 
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url("file:///Users/Joe/Pictures/pink%20dust.png");


}
.header {
 font-family: Georgia, 'Times New Roman', Times, serif;
 text-align: justify;
 height: 74px;
 width: 90%;
 position: fixed;
 top: 0%;
 padding: 0em 5%;
 background:white;
 color:black;
 border-bottom: 1px solid #dddddd;
}

#name {
 display: inline;
 width: 160px;
 height: 74px;
 padding-top: 30px;
 padding-bottom: 32.5px;
 padding-left:  10px;
 padding-right: 10px;
 margin-left: 100px;
 box-sizing: border-box;
 background-color: #4aaaa5;
 color: #ffffff;
}

header::after {
   content: '';
   display: inline-block;
   width: 100%;
}

header > div,
header > div::before,
header nav,
header > div h1 {
   display: inline-block;
   vertical-align: middle;
   text-align: left;
}

header nav a {
   padding: 0 0.6em;
   white-space: nowrap;
}

h2 {
  color: #4aaaa5;
 }

 .container {
  position: absolute;
  box-sizing: content-box;
  background-color: #ffffff;
  width: 900px;
  padding: 30px;
  border: 1px solid #dddddd;
  margin-top: 130px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  font-family: Arial, Helvetica, sans-serif;
 }

.footer {
  position: fixed;
  height: 72px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #666666;
  border-top: 3px solid #4aaaa5;
}
img {
 float: left;
}

input[type=text], select, textarea {
 width: 890px;
 border: 1px solid black;
}

input[type=submit] {
 color: black;
 background-color: #4aaaa5;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 float: right;
}

input[type=submit]:hover {
 background-color: #45a049;
}


/* Clear floats after the columns */
.row:after {
 content: "";
 display: table;
 clear: both;
}

